@import url("https://fonts.googleapis.com/css?family=Poppins");

.menu-indicator {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222327;
  margin: 0;
}

.menu-indicator-icon, .menu-indicator-text {
  color: #222327;
}

.navigation {
  position: relative;
  width: 400px;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.menu-indicator-ul {
  display: flex;
  width: 350px;
  padding: 0;
}

.menu-indicator-li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.menu-indicator-li .menu-indicator-a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.menu-indicator-a .menu-indicator-icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
}

.menu-indicator-li.active .menu-indicator-a .menu-indicator-icon {
  transform: translateY(-35px);
}

.menu-indicator-a .menu-indicator-text {
  position: absolute;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.menu-indicator-li.active .menu-indicator-a .menu-indicator-text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: tomato;
  box-sizing: border-box;
  border-radius: 50%;
  border: 6px solid #222327;
  transition: 0.5s;
}

.indicator::before,
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
}

.indicator::before {
  left: -22px;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 #222327;
}

.indicator::after {
  right: -22px;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 #222327;
}

.menu-indicator-li.active~.indicator {
  --x: 0;
  transform: translateX(var(--x));
}

.menu-indicator-li:nth-child(2).active~.indicator { --x: 70px; }
.menu-indicator-li:nth-child(3).active~.indicator { --x: 140px; }
.menu-indicator-li:nth-child(4).active~.indicator { --x: 210px; }
.menu-indicator-li:nth-child(5).active~.indicator { --x: 280px; }